---
---

@import "{{ site.theme }}";

body {
  background-color: #ff4da6;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ff4da6;
  font-weight:400;
}

h7 {
  font-size: 25px;
  font-family: 'Comfortaa', sans-serif;
  color: #000000; /* Ensuring the color is black */
  
}

.linkim {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;  /* Adjust width as necessary */
  display: flex; /* Using flexbox to center items */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
}

.linkim li {
  width: calc(100% / 3); /* Divide width equally among items */
  border-right: 1px solid #e0e0e0;
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  height: 40px;
}

.linkim li:last-child {
  border-right: none;
}

.linkim a {
  text-decoration: none;
  color: #333333; /* Changed to dark grey */
  font-size: 14px; /* Increased font size */
  font-weight: normal; /* Ensuring the font is not bold */
  text-align: center;
  display: block;
  width: 100%;
}

.linkim a:hover, .linkim a:focus {
  color: #1a1a1a; /* Slightly darker grey on hover */
  font-weight: normal; /* Keeping font weight normal even on hover */
}


