---
---

@import "{{ site.theme }}";

body {
  background-color: #fff8faff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h7 {
  font-size: 28px;
  font-family: 'Comfortaa', sans-serif;
  color: black; /* Ensuring the color is black */
}
