<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h7>{{ site.title | default: site.github.repository_name }}</h7>
        <h2>Sapir Mardan</h2>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ https://sapir-mardan.github.io/portfolio/ }}">Portfolio: <small>https://sapir-mardan.github.io/portfolio/</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="linkim">
          <li><a href="https://github.com/sapir-mardan/portfolio/blob/main/CV.pdf" class="image fit"><img src="https://github.com/sapir-mardan/portfolio/blob/main/CV.pdf" alt=""></a></li>
          <li><a href="https://github.com/sapir-mardan/portfolio/blob/main/CV.pdf">CV</a></li>
          <li><a href="https://www.linkedin.com/in/sapirmardan/">LinkedIn</a></li>
          <li><a href="https://github.com/sapir-mardan">GitHub</a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Contact me by email: <a href="mailto:sapmardan@gmail.com">{{ "sapmardan@gmail.com" }}</a></p>
        {% endif %}
        <p><small>Thank you for looking at my portfolio! </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
