<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
<body>
  <!-- HERO -->
  <section class="hero">
    <h4 class="portfolio-subtitle">PORTFOLIO BY SAPIR MARDAN</h4>
    <h2 class="main-title">Software & Data Projects</h2>

    {% if site.logo %}
      <img src="{{site.logo | relative_url}}" alt="Profile picture" class="profile-pic" />
    {% endif %}

    <p class="intro-text"> 
      Every project is <strong>well-documented on GitHub.</strong><br>
      <strong>Here you can read short posts</strong> that explain the methods and results.  
    </p>

    <ul class="linkim">
      <li><a href="/CV.pdf">CV</a></li>
      <li><a href="https://linkedin.com/in/sapirmardan">LinkedIn</a></li>
      <li><a href="https://github.com/sapir-mardan">GitHub</a></li>
    </ul>
  </section>


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Contact me by email: <a href="mailto:sapmardan@gmail.com">{{ "sapmardan@gmail.com" }}</a></p>
        {% endif %}
        <p><small>Thank you for checking out my portfolio!</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
